<%= form_for(@camp) do |f| %>
  <div class="field">
    <%= f.label :name, "Name of Camp:" %>
    <%= f.text_field :name %>
  </div><br>
  <div class="field">
    <%= f.label :location, "Location:" %>
    <%= f.text_field :location %>
  </div><br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
