<h1> All Teachers</h1>

<%= form_tag search_teachers_path, method: :get do %>


<%= text_field_tag :name, nil, placeholder: "Search name" %>
<%= select_tag "skill", options_from_collection_for_select(Skill.all, "id", "name"), placeholder: "skill name Search" %>

<%= submit_tag "search" %>

<% end %>

<ul>
  <% @teachers.each do |teacher| %>
  <li> <%= link_to teacher.name, teacher %>
  </li>
  <% end %>
</ul>



<%= link_to "Register as a New Teacher", new_teacher_path %>
