<!DOCTYPE html>
<html>
  <head>
    <title>SummerCampApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper clearfix">
      <div class="col-1">
        <img src="/logo.png">
      </div>
    </div>

    <div class="wrapper clearfix nav-bar">
        <div class="col-1 hidden">.</div>
        <div class="col-1 hidden">.</div>
        <div class="col-1">Log In / Register</div>
    </div>

    <div class="wrapper clearfix">
      <div class="col-3">
        <%= yield %>
      </div>
    </div>

    <div class="wrapper clearfix footer">

        <div class="col-1">Footer1</div>
        <div class="col-1">Footer2</div>
        <div class="col-1">Footer3</div>
  
    </div>
  </body>
</html>
